body {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
    }
   header{
        float: right;
        padding-right: 20px;
   }

   img{
     max-width: 50%;
     position: relative;
   }
   
   #referencia{
    color: White;
    font-size: 10px;
    }

    h2{
        color: aliceblue;
        padding: 0;
        padding-top: 10px;
        margin: 0;
    }

   form{
    
        background-color:#2E8B57;
        max-width: 50%;
        border: 1px solid transparent;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
        margin: auto;
    }

    #inputs{
       display: flex;
       justify-content: center;
       align-items: center;

    }
   
    input{
        border: 1px solid transparent;
        padding: 5px;
        border-radius: 3px;
        width: 300px;
    }

    #inputs p{
        padding: 0 10px;
        color: aliceblue;
        font-size: 25px;
    }

    button{
    background-color:#98FB98;
    border: 2px solid transparent;
    border-radius: 5px;
    border-color: #2E8B57;
    color:black;
    width: 50%;
    padding: 6px;
    text-align: center;
    font-weight: bold;
    
    }
    

   #rodape{
      position: absolute;
      bottom: 0%;
      padding: 5px;
      background-color:#2E8B57;

   }